<div id="header" class="f5 lh-title" style="color: #7f8c8d">
  <div id="home-menu" class="tl z-4 pa2 w-100 fixed left-0 top-0 shadow-1 nowrap" style="background: #2d3e50">
    <span class="dib pa3"><a class="link" href="">OakBrush</a></span>
    <ul class="fr di relative">
      <li class="di v-mid h-100 relative "><a href="#" class="pv2 ph3 link">Home</a></li>
      <li class="di v-mid h-100 relative"><a href="#" class="pv2 ph3 link">Tour</a></li>
      <li class="di v-mid h-100 relative"><a href="#" class="pv2 ph3 link">Sign Up</a></li>
    </ul>
  </div>
</div>

<div id="splash-container" class="overflow-hidden w-100 t-0 l-0 fixed z-1" style="background: #1f8dd6; height: 88%">
  <div id="splash" class="w-50 h-50 absolute bottom-0 left-0 right-0 tc" style="margin: auto;top:100px">
    <h1 class="splash-head b--white ba bw2 white">Big Bold Text</h1>
    <p class="splash-subhead white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <p>
      <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
    </p>
  </div>
</div>

<div id="content-wrapper" class="absolute z-2 w-100" style="background: white; top: 87%; min-height: 12%">
  <div id="content" class="pa3 pb5">
    <h2 class="content-head tc pv3 ph3 ">Excepteur sint occaecat cupidatat.</h2>

    <div id="pure-g" class="flex flex-row flex-wrap content-start">
      <div id="l-box-1" class="w-50 black">
        <h3 class="content-subhead " style="">
          <i class="fa fa-rocket"></i>
          Get Started Quickly
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div id="l-box-2" class="w-50">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Responsive Layouts
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div id="l-box-3" class="w-50">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          Modular
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div id="l-box-4" class="w-50">
        <h3 class="content-subhead">
          <i class="fa fa-check-square-o"></i>
          Plays Nice
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
    </div>
  </div>

  <div id="ribbon" class="flex flex-row flex-wrap content-start" style="background: #2d3e50; color: #aaa">
    <div id="l-box-lrg" class="w-50">
      <img width="300" alt="File Icons" class="pure-img-responsive" src="/img/file-icons.png">
    </div>
    <div id="pure-u-1" class="w-50">

      <h2 class="content-head mt4 mb3 tc ttu">Laboris nisi ut aliquip.</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor.
      </p>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head mt4 mb3 tc ttu">Dolore magna aliqua. Uis aute irure.</h2>

    <div id="pure-g-2" class="flex flex-row flex-wrap content-start">
      <div id="l-box-lrg-2" class="w-40-m pa4">
        <form class="pure-form ">
          <fieldset>

            <input class="db z-0 mb2 bn" id="name" type="text" placeholder="Your Name">
            <label class="db b" for="name">Your Name</label>


            <input class="db z-0 mb2 bn" id="email" type="email" placeholder="Your Email">
            <label class="db b" for="email">Your Email</label>

            <button type="submit" class="db btn">Sign Up</button>
          </fieldset>
        </form>
      </div>

      <div id="l-box-lrg-2" class="pa3 w-60-m">
        <h4>Contact Us</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>

        <h4>More Information</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

  </div>

  <div id="footer" class="w-100 bottom-0 fixed" style="color: #7f8c8d; background: #111">
    View the source of this layout to learn more. Made with love by the YUI Team.
  </div>

</div>
