{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Network Services" "subtitle" "Security, Design, Management") }}

{{ partial "short-text" (dict "heading" "Why Oakbrush?" "text" "We take a pragmatic approach to network management and security.  Large companies with IT departments and a significant budget have options that SMB's simply don't.  The trick is building a secure system without breaking the bank.  Let us show you how.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "We can engineer your network for you or audit it to ensure that your current Managed Service Provider has closed all the holes." "svg1" "img/illustrations/firewall.svg" "text1" "Unified Threat Management systems.  Wide area networking.  Secure managed wireless networks.  Multiple dwelling unit managed networks." "svg2" "/img/illustrations/medical.svg" "text2" "Hipaa and PCI security assesments.  Failure to comply the the standards set for your industry can lead to expensive fines.  Don't take chances with your business.  Let us audit your systems and procedures." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "About Us" "text" "Our professionals have years of experience maintaining large scale networks with regional scope.  We specialize in layered security.  We look at each companies needs and develop a solution that provides security and business continuity both on premisis and in the cloud." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
