html {
  font-size: var(--font-size);
  @media (--breakpoint-medium) {
    font-size: var(--font-size-m);
  }
  @media (--breakpoint-large) {
    font-size: var(--font-size-l);
  }
  background-color: var(--black);
}


body {
  font-family: var(--font-family);
  font-size: var(--spacing-medium);
  line-height: var(--line-height);
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
 }

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 25em;
}

p {
  margin-bottom: var(--spacing-medium);
  max-width: 32rem;
  margin-top: 0;
}

strong {
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

sup {
  font-size: .6rem;
  font-weight: 700;
  vertical-align: super;
}

::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border:none;
  text-decoration: none;
  font-weight: var(--bold-font-weight);
  color: var(--primary);
  text-align: center;
  box-shadow: inset 0 0 0 2px var(--primary);
  transition: var(--hover-transition);
}

label {
  font-size: .875rem;
  font-weight: 800;
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: var(--spacing-extra-small) var(--spacing-small);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  line-height: 1;
  transition: var(--hover-transition);
  z-index: 2;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

input, textarea {
  background-color: var(--grey-2);
  border-radius: var(--border-radius);
  padding: 12px 16px 10px;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  position: relative;
  transition: var(--hover-transition);
  z-index: 2;
  &:focus {
    background-color: var(--white);
  }
  &:focus + label {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-120%);
  }
}

a {
  color: inherit;
}

a:focus, button:focus, input:focus, textarea:focus {
    box-shadow: inset 0 0 0 2px #e29b37;
    outline: 0!important;
}

.raise:hover {
    transform: translateY(-.12rem) translateZ(0);
}

ol, ul {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active  {
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
