{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "About Us") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Network Managment" "text" "Our associates have decades of experience designing and maintainign networks of all sizes.  It takes experience to balance cost and performance.  Let us use our expertise to develop a comprehensive plan for your local and cloud based systems." "imageUrl" "/img/about/secure-hand.png") }}

  {{ partial "media-block-reverse" (dict "heading" "Security Assesments" "text" "We understand network and data security.  We believe the safest approach for most businesses is to have a professional install and maintain your network and data.  If you want true piece of mind let us audit your system to ensure that the systems and procedures you implement are working." "imageUrl" "/img/about/girl-login.png") }}

</div>

{{ partial "footer" . }}
